<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- Во время развертывания проекта библиотеки служб содержимое файла конфигурации необходимо добавить к файлу 
  app.config на узле. Файлы конфигурации для библиотек не поддерживаются System.Configuration. -->
  <system.serviceModel>
 <!--   <services>
      <service name="Sem3.Contracts.Service">
      </service>
      <service name="Sem3.Contracts.CallbackService">
      </service>
    </services> -->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Чтобы избежать разглашения сведений о метаданных, 
          установите ниже значение FALSE и удалите вышеуказанную конечную точку метаданных перед развертыванием -->
          <serviceMetadata httpGetEnabled="False"/>
          <!-- Чтобы получить сведения об исключениях в ошибках для отладки, 
          установите ниже значение TRUE. Перед развертыванием установите значение FALSE, 
           чтобы избежать разглашения сведений об исключении -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
